/* about */
.about{
    width: 100vw;
    min-height: 100vh;
    height: fit-content;
    max-height: fit-content;
    border: 1px solid rgb(21, 255, 0);
}
/* mission */
.about .my-mission{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    border: burlywood 1px solid;
    margin-bottom: 50px;
}
/* right */
.about .my-mission .right{
    width: 40%;
    height: 100%;
    border: red 1px solid;
    float: right;
    padding: 10px 40px;
}
.about .my-mission .right h2{
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.2;
    font-size: 32px;
    text-align: start;
}
.about .my-mission .right p{
    color: #777777;
    font-size: 16px;
    text-align: start;
    line-height: 1.6;
    font-family: 'Courier New', Courier, monospace;
}
/*end  right */
/*  left */
.about .my-mission .left{
    width: 40%;
    height: 100%;
    float: left;
    overflow: hidden;
    border: blue 1px solid;
}
.about .my-mission .left img{
    width: 100%;
}
/*end  left */

/*End  mission */
/* our team */
.about .our-team{
    width: 100%;
    height: 500px;
    border: brown 1px solid;
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}
/* member */
.about .our-team .member{
    width: 30%;
    height: 500px;
    border: blueviolet 1px solid;
}
/* avatar */
.about .our-team .member .avatar{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    border: 1px solid #fff;
}
.about .our-team .member .avatar img{
    border-radius: 50%;
    height: 100%;
}
/*End  avatar */
/* section */
.about .our-team .member section{
    width: 100%;
    height: 40%;
    border: #777777 1px solid;
    padding: 5px;
    display: flex;
    flex-direction: column-reverse;
}
.about .our-team .member section p{
    color: #777777;
    font-size: 14px;
    text-align: center;
    line-height: 1.6;
    font-family: 'Courier New', Courier, monospace;
}
/* End section */
/* social-group */
.about .our-team .member .social-group{
    width: 50%;
    height: 10%;
    border: blue 1px solid;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    list-style: none;
}
.about .our-team .member .social-group  li a{
    text-decoration: none;
    color: #17b95c;
}
/* End social-group */
/* End member */
/*End our team */
/* style in moblie */
@media screen and (max-width: 600px){
    .about{
        width: 100vmax;
    }
    /* mission */
    .about .my-mission{
        flex-direction: column;
        height: fit-content;
        width: 90%;
        margin: auto;
        margin-bottom: 30px;
    }
    /* right */
    .about .my-mission .right{
        width: 100%;
        height: 200px;
    }
    .about .my-mission .right h2{
        text-align: center;
    }
    .about .my-mission .right p{
        text-align: center;
    }
    /* End right */
    /* left */
    .about .my-mission .left{
        width: 100%;
        height: 500px;
    }
    .about .my-mission .left img{
        height: 100%;width:100%;
    }
    /*End  left */
    /*End  mission */
    /* our team */
    .about .our-team{
        width: 100vmax;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center
    }
    /* member */
    .about .our-team .member{
        width: 60%;
        height: 500px;
        margin-bottom: 20px;
    }
    /*End member */
    /* our team */
}
/* End  style in moblie */
/*  style in ipad */
@media screen and (min-width:600px) and (max-width: 1000px){
    /* mission */
    .about .my-mission{
        height: 400px;
    }
}
/*  End style in ipad */
/* end about */