header{
    padding: 10px 20px;
    width: 100vw;
    height: 100px;
    display: flex;
}
/* header logo */
header .logo{
    width: 20%;height: 100%;
    display: flex;
    align-items: center;
    align-content: flex-start;
}
header .logo h1{
    font-family: Arial
}
header .logo h1 a{
    text-decoration: none;
    color: #fff;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    font-size: 2.5rem;
}
/* End header logo End */
/* header .menu */
header .menu{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center
}
header .menu ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width:60%;
}
.menu ul li{
    width: fit-content;
}
.menu ul li a{
    padding: 10px 10px;
    text-decoration: none;
    color: #fff;
    transition: all .3s;
    font-size: 12px;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-weight: bolder;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.menu ul li a:hover{
    color: #17b95c;
}
.menu ul li .active{
    color: #17b95c;
}
/* END header .menu  */
/* header  social*/
header .social{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-end;

}
header .social ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
header .social ul li a{
    padding: 20px;
    color: rgba(255, 255, 255, 0.5);
    transition: all .3s;
}
header .social ul li a:hover{
    color: #fff;
}
/* End header  social */
/* End Header */