/* home */
.home{
    width: 95vw;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-bottom: 40px;
}
/* image */
.home .image{
    width: 33.33333%;
    height: 437px;
    padding:10px 10px; 
    position: relative;
    overflow: hidden;
}
.home .image:hover > img{
    filter:grayscale(0%);
}
/* img */
.home .image img{
    width: 100%;
    position: absolute;
    filter: grayscale(100%);
    transition: all .3s;
}

/* img-info */
.home .image .img-info{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

/* title */
.home .image .img-info p{
    font-size: 2rem;
    color: #fff;
}
/* link */
.home .image .img-info a{
    margin: 10px 0px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    border: 2px solid #fff;
    line-height: 1.5;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    padding: 0.5rem 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: .1em;
    text-transform: uppercase;
}
.home .image .img-info a:hover{
    background-color: #fff;
    color: #000;
}
/*End  img-info */

/*End image */
/* home style in moblie */
@media screen and (max-width: 600px){
    /* home */
    .home
        {
        flex-direction: column;
        align-items: center;
        }
    /* image */
    .home .image{
        width: 100%;
    }
    /* End image */
}
/* End home style in moblie */
/* home style in ipad */
@media screen and (min-width:600px) and (max-width: 1000px){
    /* home */
    /* image */
    .home .image{
        width: 50%;
        }
    /* End image */
}
/*End home style in ipad */
/* End home */